<%- include('./head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <h1>Ups!! Parece que nos hemos perdido.</h1>

    
<%- include('./end.ejs') %>