<div class="accessStadisticsAdm" id="accessStatistics">
    <h1>Estadísticas de acceso</h1>
    <div class="row d-flex justify-content-center allAccessContent">
        
        <div class="col-sm-2 accessInfoElement">
            <p class="numStatistics"><%= AllAccessStatistics[0] %></p>
            <p class="textStatistics">Total de accesos</p>
        </div>
        <div class="col-sm-2 accessInfoElement">
            <p class="numStatistics"><%= AllAccessStatistics[1] %></p>
            <p class="textStatistics">Total de registros</p>
        </div>
        <div class="col-sm-2 accessInfoElement">
            <p class="numStatistics"><%= AllAccessStatistics[2] %></p>
            <p class="textStatistics">Total de logins</p>
        </div>
    
    </div>
</div>
<hr class="d-sm-none"/>