
        <div class="createStory">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Crear relato</button>
                
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Crea tu historia!!</h1>
                        </div>
                        <!-- el action está en navbar.js-->
                        <form method="POST" class="addStory" action="">
                        <div class="modal-body">
                            <div class="form-group">
                            <label for="title">Título del relato:</label>
                            <input type="text" class="form-control" name="title" id="title">
                            </div>
                            <div class="form-group">
                            <label for="body">Escribe aquí tu relato:</label>
                            <textarea class="form-control" name="body" rows="15" id="body"></textarea>
                            </div>
                            <div class="form-group">
                            <label for="tags">Temática del relato: (presiona ctrl para seleccionar varios)</label>
                            <select multiple class="form-control" name="tags" size="6" id="tags">
                                <option>Fantasía</option>
                                <option>Sci-fi</option>
                                <option>Terror</option>
                                <option>Drama</option>
                                <option>Policíaco</option>
                                <option>Noir</option>
                                <option>Comedia</option>
                                <option>Infantil</option>
                                <option>Juvenil</option>
                                <option>Aventuras</option>
                                <option>Histórico</option>
                                <option>Thriller</option>
                                <option>Misterio</option>
                            </select>
                            </div>
                
                        </div>
                        <div class="modal-footer row d-flex justify-content-center">
                            <div class="col-sm-3"></div>
                            <button type="button" class="btn btn-danger col-sm-2" data-dismiss="modal"> Cancelar
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                            </button>
                            
                            <div class="col-sm-1"></div>
                                <input type="submit" class="btn btn-primary col-sm-2" value="Publicar">
                            </form>
    
                        </div>
                    </div>
                    
                    </div>
                </div>
                    
            </div>
            <br>