 
<nav class="navbar bg-dark  navbar-dark fixed-left navbarAdmin myScrollspy " >

    
    <ul class="navbar-nav nav-pills nav-stacked" data-spy="affix">
        <li class="nav-item">
            <a class="nav-link" href="#generalInfo">Información general</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#accessStatistics">Estadísticas de acceso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#storiesStatistics">Relatos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#usersStatistics">Gestión de usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#usersDonations">Donaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/">Cerrar sesión</a>
        </li>
    </ul>
  
</nav>
