<%- include('../head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <h1>Hola????</h1>

<%- include('./footer.ejs') %>      
<%- include('../end.ejs') %>