<div class="usersAdm" id="usersDonations">
    <h1>Donaciones</h1>
    <div class="row d-flex justify-content-center allAccessContent">
            
        <div class="col-sm-2 accessInfoElement">
            <p class="numStatistics"><%= AllDonationsInfo[0][0][0].total %> €</p>
            <p class="textStatistics">Recaudación total</p>
        </div>
        <div class="col-sm-2 accessInfoElement">
            <p class="numStatistics"><%= AllDonationsInfo[1][0][0].total30 %> €</p>
            <p class="textStatistics">Últimos 30 días</p>
        </div>
        <div class="col-sm-2 accessInfoElement">
            <p class="numStatistics"><%= AllDonationsInfo[2][0][0].total7 %> €</p>
            <p class="textStatistics">Últimos 7 días</p>
        </div>
    
    </div>
       
</div>