<div class="editProfile">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">Editar Perfil</button>
    
    <!-- Modal -->
    <div class="modal fade" id="editProfileModal" role="dialog">
        <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">¡Edita tu perfil!</h1>
            <h4 class="modal-title">Sube una imagen que te represente y cuéntanos algo sobre ti. ¡Cualquier cosa! Así otros miembros podrán conocerte un poco mejor.</h4>
            </div>
            <form method="POST" enctype = 'multipart/form-data' action="/myProfile/editProfile/<%= token %>">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Subir una imagen:</label>
                        <input type="file" class="form-control" name="img" id="img">
                    </div>
                    <div class="form-group">
                    <!--<label for="body">Información personal:</label>-->
                    <!--<textarea class="form-control" name="info" rows="15" id="info"></textarea>-->
                    </div>
                </div>
                <div class="modal-footer row d-flex justify-content-center">
                    <div class="col-sm-3"></div>
                    <button type="button" class="btn btn-danger col-sm-2" data-dismiss="modal"> Cancelar
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                    </button>
                
                    <div class="col-sm-1"></div>
                    <input type="submit" class="btn btn-primary col-sm-2" value="Publicar">
                </div>
            </form>

            </div>
        </div>
        
        </div>
    </div>
        
</div>
<br>