<style>
    .footer {
       
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        /*background-color: rgba(26, 26, 31, 0.986);*/
        /*color: rgb(128, 125, 125);*/

        /* background-color: rgb(219, 6, 113); */
    
        /* background: linear-gradient(to bottom right, #ff0066 0%, #9933ff 100%); */

        background: linear-gradient(to bottom right, #ff6600 0%, #ff33cc 100%);

        color: rgb(245, 244, 244);
        text-align: center;
        /*padding: 2rem;*/
        padding: 2rem;
        
    }

</style>
        

<br><br>
<div class="footer container jumbotron text-center" style="margin-bottom:0">
        <p class="footerText">ยก Muchas gracias por formar parte de este proyecto !</p>
</div>