<div class="generalInfoAdm" id="generalInfo">
    <h1>Información general</h1>
    <div class="row d-flex justify-content-center stories">
        <div class="totalNumStories col-sm-2">
            <p class="storyTotal"><%= AllUsersInfo.length %></p>
            <p class="totalStoriesTitle">Número de usuarios</p>
        </div>
        <div class="totalNumStories col-sm-2">
            <p class="storyTotal"><%= AllStoriesInfo.length %>  </p>
            <p class="totalStoriesTitle">Número de relatos</p>
        </div> 
        <div class="totalNumStories col-sm-2">
            <p class="storyTotal"><%= AllAccessStatistics[0] %>  </p>
            <p class="totalStoriesTitle">Total de accesos</p>
        </div> 
    </div>
    <h1>Evolución de las donaciones</h1>
    <div class="row d-flex justify-content-center">
        <%- include('./adminChart.ejs') %>
    </div>   
</div>
<hr class="d-sm-none"/>

