<div class="jumbotron jumbotron-fluid jumbotronHome">
    <div class="container">
        <h1>¡Bienvenido! Estamos deseando leer tus historias.</h1>      
        <p>Gracias por ser partícipe de este proyecto y ayudarnos a que otros puedan contar su historia. </p>
    </div>
</div>